html,
body {
  margin: 0;
  padding: 0;
}
.grid {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.grid > div {
  background-color: rgb(23, 228, 255);
}

.grid > div:nth-child(even) {
  background-color: rgb(250, 67, 226);
}

/* TEST */
@media only screen and (orientation: landscape) {
  .grid {
    width: 100vh;
    height: 100vh;
  }
}

@media only screen and (orientation: portrait) {
  .grid {
    width: 100vw;
    height: 100vw;
  }
}
